In [1]:
import pandas as pd
import requests
from io import BytesIO # позволяет читать данные в виде байтов
import numpy as np

**Считайте данные из Google Sheets.
Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.**

In [3]:
url = 'https://docs.google.com/spreadsheets/d/YOUR_TOKEN/export?format=csv'

In [4]:
req = requests.get(url)

In [5]:
data = req.content

In [6]:
df = pd.read_csv(BytesIO(data)) # or df = pd.read_csv(url)

In [7]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [8]:
df.users.div(df.users.sum()).mul(100).round()

0    52.0
1    41.0
2     7.0
Name: users, dtype: float64

**Скачайте файл с данными посещаемости сайта Яндекс.Метрика.
При помощи функции np.where создайте серию, в которую будет записываться 1, 
если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. 
Поместите получившуюся серию в переменную chrome_robots.**

In [10]:
ya_df = pd.read_csv('7_browser.csv')

In [11]:
ya_df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [12]:
ya_df['chrome_robots'] = np.where((ya_df.user_type.str.contains('Robots') & ya_df.browser.str.contains('Chrome')), 1, 0)

In [13]:
chrome_robots = ya_df.chrome_robots

In [14]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
Name: chrome_robots, dtype: int32

**У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. 
Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count
ad_id – id объявления
user_id – id пользователя
click_type – тип клика (клик по заголовку объявления, клик по центру)**

In [16]:
ads_df = pd.read_csv('7_sample_ads.csv')

In [17]:
ads_df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [18]:
not_nan_count = ads_df.click_type.notna().sum()

In [19]:
not_nan_count

11

**А теперь попробуем воспользоваться знаниями использования Telegram API. 
Отправьте себе в личку любое послание.**

In [21]:
# import requests
import json
from urllib.parse import urlencode


token = 'YOUR_TG_TOKEN'
chat_id = 'your_chat_id'  # your chat id

message = 'Hello creator'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)